 </div><!--/span-->
      </div><!--/row-->

      <hr>
            <footer>
        <p>© Company 2016</p>
      </footer>
</div><!--/.fluid-container-->

<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


<script src="http://libs.baidu.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <!--[if lte IE 6]>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap-ie.js"></script>
    <![endif]-->
    
<load href="__PUBLIC__/common.js" />
<script src="__PUBLIC__/Plugin/kindeditor-4.1.7/kindeditor-min.js"></script>

</body>
</html>
