
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>浅言·闺蜜约惠拼</title>

    <link rel="icon" href="https://qyapp.zhuoyoutech.com/test/img/favicon.ico">

    <link rel="stylesheet" href="http://qy.uzipm.com/addons/ewei_shopv2/template/account/default/css/account.css">

    <link rel="stylesheet" type="text/css" href="http://qy.uzipm.com/addons/ewei_shopv2/static/js/dist/foxui/css/foxui.min.css?v=0.2">
    <link rel="stylesheet" type="text/css" href="http://qy.uzipm.com/addons/ewei_shopv2/template/mobile/default/static/css/style.css?v=1569486568">


    <link rel="stylesheet" type="text/css" href="http://qy.uzipm.com/addons/ewei_shopv2/static/fonts/iconfont.css?v=2017070719">




    <script src="http://qy.uzipm.com/app/resource/js/lib/jquery-1.11.1.min.js"></script>
    <script src='//res.wx.qq.com/open/js/jweixin-1.3.0.js'></script>
    <!--   <script src="http://qy.uzipm.com/addons/ewei_shopv2/static/js/dist/foxui/js/foxui.min.js"></script>-->
    <script src="http://qy.uzipm.com/addons/ewei_shopv2/static/js/require.js"></script>
    <script src="http://qy.uzipm.com/addons/ewei_shopv2/static/js/myconfig-app.js"></script>
    <script language="javascript">
        require(['core'],function(modal){modal.init({siteUrl: "http://qy.uzipm.com/",baseUrl: "./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=ROUTES"})});
        $(function () {
            $('img').on('error', function () {
                console.log($(this));
                $(this).css({
                    'background-image': 'http://qy.uzipm.com/addons/ewei_shopv2/static/'
                })
            })
        })
    </script>

</head>

<body>
<div class="qy_account">
    <img class="qy_account-title" src="http://qy.uzipm.com/addons/ewei_shopv2/template/account/default/images/img_qianyan.png" alt="">

    <div class="qy_account-outter">
        <form action="" method="post">
        <section class="reg-mobile">
            <div class="sp-fixed">
                <span class="icon-phone"></span>
            </div>
            <input type="tel" autocomplete="off" required maxlength="11"
                   oninput="if(value.length>11)value=value.slice(0,11)" ref="phone" class="ipt-long" id="mobile" name="mobile"
                   placeholder="请输入手机号码" />
        </section>
        <section class="reg-mobile reg-three reg-pwd">
            <section class="code-len">
                <div class="sp-fixed">
                    <span class="icon-phone icon-pwd"></span>
                </div>
                <input type="password" required maxlength="16" minlength="6" ref="password" class="ipt-long"
                       id="pwd" name="pwd" placeholder="请输入您的密码" />
            </section>
            <span onclick=" Verify.changeVisible()" class="btn-pwd"></span>
        </section>


        <!--<section class="qy-text qy-forget">
            <a href="./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=account.forget&backurl=aT0yJmM9ZW50cnkmbT1ld2VpX3Nob3B2MiZkbz1tb2JpbGUmcj1tZW1iZXI%253D">忘记密码</a>
        </section>-->

            <input type="submit" value="立即登录" class="btn-go" >

        <section class="qy-text">
            <a href="./index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=account.register&backurl=aT0yJmM9ZW50cnkmbT1ld2VpX3Nob3B2MiZkbz1tb2JpbGUmcj1tZW1iZXI%253D">还没有账号，立即注册</a>
        </section>

        </form>

    </div>

</div>

<div class="new__banner">
    <div class="new__banner_inner" onclick="open_app()">
        <img src="https://qycdn.zhuoyoutech.com/h5/sypp/img/qy-last-logo.jpg" class="icon-logo" alt />
        <h1>总有一个地方属于你</h1>
        <img src="http://qy.uzipm.com/addons/ewei_shopv2/template/account/default/images/icon_download.png" class="download" onclick="open_app()" alt />
    </div>
</div>

<script language='javascript'>
    require(['biz/member/account'], function (modal) {
        modal.initLogin({backurl:'http://qy.uzipm.com/app/index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&r=member'});
    });
</script>


<script src="https://qyapp.zhuoyoutech.com/h5/handnote/js/util.js?ver=8.2" type="text/javascript" charset="utf-8">
</script>
<script src="http://qy.uzipm.com/addons/ewei_shopv2/template/account/default/js/verify.js"></script>


<script>var imgs = document.getElementsByTagName('img');for(var i=0, len=imgs.length; i < len; i++){imgs[i].onerror = function() {if (!this.getAttribute('check-src') && (this.src.indexOf('http://') > -1 || this.src.indexOf('https://') > -1)) {this.src = this.src.indexOf('http://qy.uzipm.com/attachment/') == -1 ? this.src.replace('http://uzipm-qy-img.oss-cn-hangzhou.aliyuncs.com/', 'http://qy.uzipm.com/attachment/') : this.src.replace('http://qy.uzipm.com/attachment/', 'http://uzipm-qy-img.oss-cn-hangzhou.aliyuncs.com/');this.setAttribute('check-src', true);}}}</script></body>

</html>