<script type="text/javascript" charset="utf-8" src="http://public.rrbrr.com/Plugin/ueditor-1.4.3.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="http://public.rrbrr.com/Plugin/ueditor-1.4.3.3/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="http://public.rrbrr.com/Plugin/ueditor-1.4.3.3/lang/zh-cn/zh-cn.js"></script>




<form class="form-horizontal" role="form"  method="post" action="__URL__/save/">
    <div class="form-group" style="" >
    <label for="username" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 用户名</label>
    <div class="col-sm-4">
        <input  class="form-control" name="username" type="text" id="username" size="30" value="{$vo[username] ? $vo[username] : $_GET[username]}" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="password" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 密码</label>
    <div class="col-sm-4">
        <input   type="password"  class="form-control" name="password" id="password" size="30" value="{$vo.password}" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="email" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 邮箱</label>
    <div class="col-sm-4">
        <input  class="form-control" name="email" type="text" id="email" size="30" value="{$vo[email] ? $vo[email] : $_GET[email]}" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="avatar" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 头像</label>
    <div class="col-sm-4">
        <input onchange="previewImg(this,'avatar')" class="avatar-input" id="avatar"  name="avatar" type="file"><div id='preview_img_avatar'>
                                <notempty name="vo['avatar']">
                                <img src="{$vo.avatar|img}" width='100' />
                                 <else />
                                 <img src="{$Think.config.DEFAULT_IMG}" width='100' />
                                 </notempty>
                                 </div>
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="birthday" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 生日</label>
    <div class="col-sm-4">
        <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="birthday" name="birthday" size="30" placeholder=" - "
                               value="{$Think.get.create_t}">
                    </div>
        <script>
            laydate.render({
                elem: '#birthday', 
                type: 'date',
                

            });
        </script>
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="status" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 状态</label>
    <div class="col-sm-4">
        <html:select  first="请选择" options='opt_status' selected='status_selected' name="status" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="flag" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 标记</label>
    <div class="col-sm-4">
        <html:select  first="请选择" options='opt_flag' selected='flag_selected' name="flag" />
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="intro" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 用户介绍</label>
    <div class="col-sm-4">
        <html:editor id="editor" name="intro" type="kindeditor" style="width:100%;height:400px;visibility:hidden;" >{$vo.intro}</html:editor>
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>
<div class="form-group" style="" >
    <label for="resume" class="col-sm-2 control-label"><?php if(!empty($required)){ ?><span
            class="text-danger">*</span><?php } ?> 简历</label>
    <div class="col-sm-4">
        <input class="avatar-input" id="resume"  name="resume" type="file"><span>{$vo[resume] } </span>
    </div>
    <div class="col-sm-2 control-label " style="text-align: left;"><span class="Validform_checktip"></span></div>

</div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">保存</button>
        </div>
    </div>
</form>